<div class="card margins" *ngFor="let content of contents">
    <h4 class="card-header">
        <a class="title" href="/?post={{content.filename}}">{{content.postTitle}}</a>
        <div class="timestamp" *ngIf="!!content.timestamp">
            <strong>Posted on</strong>&nbsp;{{helperService.parseTimestamp(content.timestamp)}}
        </div>
        <div class="timestamp" *ngIf="!!content.editedTimestamp">
            <strong>Edited on</strong>&nbsp;{{helperService.parseTimestamp(content.editedTimestamp)}}
        </div>
    </h4>
    <div class="card-body">
        <p class="card-text" [innerHTML]="generateHTML(content.postContent)"></p>
    </div>
</div>

<div class="text-center">
    <a href="/?page=archives">
        <button type="button" class="btn-fat btn-blue margins-sides margin-y">Want to read more? Check the archives.</button>
    </a>
</div>