@media (max-width: 675px) {
  .search-box {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 675px) {
  .search-box {
    width: 50%;
    margin: 0 auto;
  }
}

input[type="text"] {
  width: 30%;
}
