.jumbotron {padding: 1rem 1rem !important; text-align: center !important; }

@media (max-width: 675px) {  
    .search-box { width: 70%; margin: 0 auto; }
}

@media (min-width: 675px){
    .search-box { width: 50%; margin: 0 auto; }
}