<div class="placard">
    <div class="placard-title">Archives</div>
    <div class="placard-text">Here you can find all the blog's posts.</div>
</div>

<div class="text-center">
    <input type="text" class="form-control" placeholder="Search by title" id="search"
        (keyup)="searchArhive($event.target.value)">
    &nbsp;
    <button class="btn-gray" type="button" (click)="searchArhive(null, true);">Clear</button>
</div>

<div class="card" *ngIf="filteredArchives.length > 0">
    <div class="list-group">
        <div class="mouse-hover list-item" *ngFor="let archive of filteredArchives">
            <a class="title" href="/?post={{archive.filename}}">{{archive.postTitle}}</a>
            <div class="timestamp" *ngIf="!!archive.timestamp">{{parseTimestamp(archive.timestamp)}}</div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="/">
        <button type="button" class="margins-sides margin-y btn-fat btn-blue">Go to Home</button>
    </a>
</div>