.jumbotron { padding: 2em 2rem !important; }
.avatar {max-width: 150px; max-height: 150px; padding-right: 1rem; border-radius: 50%;}
.profile-box { display: flex !important; text-align: center; }
.social-networks { padding-right: 0.5rem; }

@media (max-width: 544px) {  
    .display-4{font-size:2rem !important;}
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comments {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    width: 80%;
}