.avatar {
    max-width: 200px;
    max-height: 150px;
    padding-right: 1rem;
    border-radius: 50%;
}
.profile-box {
    display: flex !important;
    text-align: center;
    padding: 2rem;
}
.social-networks {
    padding-right: 0.5rem;
}

.placard {
    margin-left: 8rem;
    margin-right: 8rem;
    padding: 0;
}

.container {
    margin: 0 auto;
}

@media (max-width: 544px) {
    .placard {
        margin-left: unset;
        margin-right: unset;
    }
    .placard-title {
        font-size: 2rem !important;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comments {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    width: 80%;
}
