<div class="card margins">
  <h4 class="card-header">
    <a class="title" href="/?post={{content.filename}}">{{content.postTitle}}</a>
    <div class="timestamp" *ngIf="content.draft">
      <strong>Draft: Post not published.</strong>
    </div>

    <div class="timestamp" *ngIf="!!content.timestamp">
      <strong>Posted on</strong>&nbsp;{{content.timestamp}}
    </div>

    <div class="timestamp" *ngIf="!!content.editedTimestamp">
      <strong>Edited on</strong>&nbsp;{{content.editedTimestamp}}
    </div>
  </h4>
  <div class="card-body">
    <p class="card-text" [innerHTML]="content.postContent"></p>
  </div>
</div>

<div class="placard" *ngIf="!!settings">
  <div class="profile-box">
    <div>
      <img class="avatar" src="./assets/{{settings.yourAvatar}}"><br>
      <div class="social-networks">
        <a *ngIf="!!settings.facebook" href="{{settings.facebook}}"><img src="./assets/social/facebook.png"></a>
        <a *ngIf="!!settings.twitter" href="{{settings.twitter}}"><img src="./assets/social/twitter.png"></a>
        <a *ngIf="!!settings.instagram" href="{{settings.instagram}}"><img src="./assets/social/instagram.png"></a>
        <a *ngIf="!!settings.linkedin" href="{{settings.linkedin}}"><img src="./assets/social/linkedin.png"></a>
        <a *ngIf="!!settings.youtube" href="{{settings.youtube}}"><img src="./assets/social/youtube.png"></a>
      </div>
    </div>
    <div class="container">
      <div class="placard-title">{{settings.yourName}}</div>
      <div class="placard-text">{{settings.yourBio}}</div>
    </div>
  </div>
</div>
<div class="comments" id="disqus_thread" *ngIf="settings?.enableDisqus"></div>

<div class="margin-y text-center">
  <a href="/">
    <button type="button" class="margins-sides btn-blue btn-fat">Go to Home</button>
  </a>

  <br />

  <a href="/?page=archives">
    <button type="button" class="margin-top margins-sides btn-blue btn-fat">
      Go to the Archives
    </button>
  </a>
</div>