<div class="margins">
    <input [(ngModel)]="content.postTitle" type="text" class="form-control no-border" placeholder="Post title">

    <!-- <ckeditor [(ngModel)]="content.postContent"></ckeditor> -->
    <div class="timestamp text-muted" *ngIf="!!content.timestamp">
        <strong>Created on</strong>&nbsp;{{parseTimestamp(content.timestamp)}}
    </div>
    <div class="timestamp text-muted" *ngIf="!!content.editedTimestamp">
        <strong>Last Edited on</strong>&nbsp;{{parseTimestamp(content.editedTimestamp)}}
    </div>
    
    <div id="poweredBy"><a href="https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/angular.html" target="_blank">Powered by<br>CK Editor</a></div>

    <div class="controls">
        <button type="button" class="margin-top btn btn-outline-info" (click)="resetEditor()">New</button> &nbsp;
        <button type="button" class="margin-top btn btn-outline-info" (click)="loadArchive()" data-toggle="modal" data-target="#selectionModal">Load</button>
        <br>
        <button type="button" class="margin-top btn btn-outline-success" (click)="savePost(false)" data-toggle="modal" data-target="#saveModal">Save</button> &nbsp;
        <button type="button" class="margin-top btn btn-outline-success" (click)="savePost(true)" data-toggle="modal" data-target="#draftModal">Draft</button>
    </div>
</div>

<!-- Modal for Loading a Post -->
<div id="selectionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Load post</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="search" placeholder="Search by title" (keyup)="searchArhive($event.target.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchArhive(null, true);">Clear</button>
                    </div>
                </div>
                <div class="scrollable">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item mouse-hover" *ngFor="let archive of filteredArchives" (click)="loadPost(archive.filename)" data-dismiss="modal">{{archive.postTitle}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <div class="pull-left mr-auto">
                <input type="file" accept=".json" id="file-input" (change)="loadFromFile($event)">
                <label for="file-input">Load From File</label>
            </div>
            <button type="button" class="btn btn-outline-secondary" id="dismiss" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for Saving a Post -->
<div id="saveModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">About saving...</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="!entryExists">
                    Your browser will ask you if you want to download multiple files, click <strong>Allow</strong>!<br><br>
                    After the download is done, grab the <strong>archive.json</strong> and the <strong>{{parseFilename()}}.json</strong> and drop them
                    in the <strong>assets/posts</strong> folder of your Dumblog install.<br><br>
                    Then you can commit those files to your .github.io repo and Dumblog will reflect then as soon as Github rebuilds the repo!
                </p>
                <p *ngIf="entryExists">
                    Based on the title, it seems you created (or edited) a post with the same name of one that already exists!<br>
                    So no <strong>archive.json</strong> was generated...<br><br>
                    After the <strong>{{parseFilename()}}.json</strong> is downloaded, and drop the file
                    in the <strong>assets/posts</strong> folder of your Dumblog install.<br><br>
                    Then you can commit the file to your .github.io repo and Dumblog will reflect it as soon as Github rebuilds the repo!
                </p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for Drafting a Post -->
<div id="draftModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">About drafts...</h4>
            </div>
            <div class="modal-body">
                <p>
                    The file <strong>{{parseFilename()}}.json</strong> was generated as a draft.<br><br>
                    This means it has no timestamp (date and time) and will show as a draft if you try to access it manually by visiting <strong>?post={{parseFilename()}}.json</strong> 
                    (after moving it to your <strong>assets/posts</strong> folder and commiting it to your repo), as if it was a normal post.<br><br>
                    You can still load the file for editing and then save it normally later on for publishing.
                </p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>