<div class="margins">
  <input [(ngModel)]="content.postTitle" type="text" class="form-control size-fill" placeholder="Post title">

  <textarea id="SimpleMDE" [(ngModel)]="content.postContent"></textarea>

  <div class="timestamp text-muted" *ngIf="!!content.timestamp">
    <strong>Created on</strong>&nbsp;{{parseTimestamp(content.timestamp)}}
  </div>

  <div class="timestamp text-muted" *ngIf="!!content.editedTimestamp">
    <strong>Last Edited on</strong>&nbsp;{{parseTimestamp(content.editedTimestamp)}}
  </div>

  <div class="controls">
    <button type="button" class="margin-top btn-lightblue" (click)="resetEditor()">New</button> &nbsp;
    <button type="button" class="margin-top btn-lightblue" (click)="loadArchive(true)">Load</button> &nbsp;
    <button type="button" class="margin-top btn-green" (click)="savePost(false)">Save</button> &nbsp;
    <button type="button" class="margin-top btn-green" (click)="savePost(true)">Draft</button>
  </div>
</div>

<!-- I feel like condensing those modals into a component... -->

<!-- Modal for Loading a Post -->
<div class="modal micromodal-slide" id="selectionModal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <header class="modal__header">
        <h2 class="modal__title">
          Load Post
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content">
        <div class="flex">
          <input type="text" class="form-control size-fill" id="search" placeholder="Search by title"
            (keyup)="searchArhive($event.target.value)">
          &nbsp;
          <button class="btn-green" type="button" id="button-addon2" (click)="searchArhive(null, true);">Clear</button>
        </div>
        <div class="scrollable margin-top">
          <div class="card">
            <div class="list-group">
              <div class="mouse-hover list-item" *ngFor="let archive of filteredArchives"
                (click)="loadPost(archive.filename)">
                {{archive.postTitle}}
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="modal__footer flex">
        <div>
          <input type="file" accept=".json" id="file-input" (change)="loadFromFile($event)">
          <label for="file-input">Load From File</label>
        </div>
        &nbsp;
        <div>
          <button class="btn-gray go-right" data-micromodal-close aria-label="Close">Close</button>
        </div>
      </footer>
    </div>
  </div>
</div>

<!-- Modal for Saving a Post -->
<div class="modal micromodal-slide" id="saveModal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <header class="modal__header">
        <h2 class="modal__title">
          About saving...
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content">
        <p *ngIf="!entryExists">
          Your browser will ask you if you want to download multiple files, click
          <strong>Allow</strong>!<br><br>
          After the download is done, grab the <strong>archive.json</strong> and the
          <strong>{{parseFilename()}}.json</strong> and drop them
          in the <strong>assets/posts</strong> folder of your Dumblog install.<br><br>
          Then you can commit those files to your .github.io repo and Dumblog will reflect then as soon as
          Github rebuilds the repo!
        </p>
        <p *ngIf="entryExists">
          Based on the title, it seems you created (or edited) a post with the same name of one that already
          exists!<br>
          So no <strong>archive.json</strong> was generated...<br><br>
          After the <strong>{{parseFilename()}}.json</strong> is downloaded, and drop the file
          in the <strong>assets/posts</strong> folder of your Dumblog install.<br><br>
          Then you can commit the file to your .github.io repo and Dumblog will reflect it as soon as Github
          rebuilds the repo!
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn" data-micromodal-close aria-label="Close">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Modal for Drafting a Post -->
<div class="modal micromodal-slide" id="draftModal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <header class="modal__header">
        <h2 class="modal__title">
          About drafts...
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content">
        The file <strong>{{parseFilename()}}.json</strong> was generated as a draft.<br><br>
        This means it has no timestamp (date and time) and will show as a draft if you try to access it
        manually by visiting <strong>?post={{parseFilename()}}.json</strong>
        (after moving it to your <strong>assets/posts</strong> folder and commiting it to your repo), as if
        it was a normal post.<br><br>
        You can still load the file for editing and then save it normally later on for publishing.
      </main>
      <footer class="modal__footer">
        <button class="modal__btn" data-micromodal-close aria-label="Close">Close</button>
      </footer>
    </div>
  </div>
</div>